.container {
	position: absolute;
	width: 98%;
}

canvas {
	width: 1300px !important; 
	height: 700px !important;
	top:10%;
	position: relative;
	float: right;
}

.form-box{
	position: absolute;
	width: 200px:;
	left:10%;
	top:35%;
}
#weight{
	position: relative;
}