body{
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", Verdana, Arial, white;
}

.fix{
  clear: both;
  overflow: hidden;
}

header{
  overflow: hidden;
  height: 100vh;
}

.vid-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.nav-area{
  background: rgba(0,0,0,0.4);
  height: 937px;
  position: absolute;
  width: 100%;
}

.logo{
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;

}

.logo{



/* Welcome text w/ subtitle */

.banner-text{
  position: absolute;
  top: 35%;
  text-align:center;
  left: 19%
}

.banner-text h2{
  font-weight: bold;
  color: #fff;
  font-size: 55px;
  margin: 0;
}

.banner-text p{
  color: #fff;
  font-size: 21px;
  margin: 0;
  font-weight: bold;
  position: fixed;
  bottom: 50%;
  left: 44%;
}
 
/* Login/Reg Buttons */
.btn{
   border: 1px solid #fff;
   padding: 10px 30px;
   color: #fff;
   text-decoration: none;
}

.btn:hover{
   background-color: #fff;
   color: #000;
   transition: 0.6s ease;
}

/* Home and About Us Navi Bar */
ul{
  font-size: 1.3em;
   font-weight: bold;
   position: fixed;
   top: -1.7%;
   left: 45%;
   margin-top: 30px;

}

ul li{
   display: inline-block;
}

ul li a{
   text-decoration: none;
   color: #fff;
   transition: 0.6s ease;
}

ul li a:hover{
  text-decoration: none;
   color: #808080;
}

.logo img{
   width: 2.2em;
   height: auto;
   position: absolute;
   top: -0.3%;
   left: 2%;
   transition: all 0.5s;
   cursor: pointer;
}

/* Esti css (Logo Css) */


/*end*/

.main{
   max-width: 1200px;
   margin: auto;
}

/* Button positioning */
.button{
   font-weight: bold;
   position: absolute;
   top:40%;
   width: 400px;
   display: inline-block;
   position: fixed;
   top: 40%;
   left: 48%;
   margin-top: 150px;
   margin-left: -180px;

}

.blackbar{
  background: rgb(20, 20, 24);
  height: 55px;
  position: absolute;
  width: 100%;
}

/* After you login in CSS */

.Username{
  color: white;
  position: fixed;
  left: 5%;
  top: 10%;
  font-size: 65px;
}
.buttonLOGIN{
  position: fixed;
  font-weight: bold;
  bottom: 35%;
  left: 31%;
}

.btnLOGIN{
   border: 1px solid #fff;
   padding: 10px 30px;
   color: #fff;
   text-decoration: none;
}

.btnLOGIN:hover{
   background-color: #fff;
   color: #000;
   transition: 0.6s ease;
}

.logout{
  color: white;
  font-size: 1.3em;
   font-weight: bold;
   position: fixed;
   top: -1.7%;
   right: 4%;
   margin-top: 30px;
   text-decoration: none;
}

.logout:hover{
   color: #808080;
   transition: 0.6s ease;
}

.banner-text h3{
  position: fixed;
  left: 5%;
  top: 10%;
  font-weight: bold;
  color: #fff;
  font-size: 55px;
  margin: 0;

}

.banner-text h4{
  position: fixed;
  left: 42%;
  top: 39%;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  margin: 0;

}

.banner-text h5{
  position: fixed;
  left: 28%;
  top: 47%;
  font-weight: bold;
  color: #fff;
  font-size: 35px;
  margin: 0;

}


/*test stuff in regards to the buttons*/


@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1321 {
  font-family: 'Raleway', Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  /*width: 100%;*/
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
  margin: 0;
}
figure.snip1321 h2 {
  font-weight: 600;
}
figure.snip1321 h4 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1321 i {
  font-size: 32px;
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
