body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fix{
  clear: both;
  overflow: hidden;
}

header{
  overflow: hidden;
  height: 100vh;
}

.vid-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.grayfilter{
  background: rgba(0,0,0,0.4);
  height: 900px;
  position: absolute;
  width: 100%;
}

.logo{
  background-image: url("img/logo2.png");
  position: fixed;
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;

}

.loginform{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginform label, .loginform p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/** Login Button Placement */

.loginform button, .loginform input{
    width: 100%;
    margin-bottom: 45px;
}

.loginform button[type="text"], button[type="password"], .loginform input[type="text"], .loginform input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginform button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #800000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginform button[type="submit"]:hover
{
    cursor: pointer;
     background-color: #fff;
   color: #000;
   transition: 0.6s ease;
}
.loginform a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginform a:hover
{
    color: #ffc107;
}

.blackbar{
  background: rgb(20, 20, 24);
  height: 55px;
  position: fixed;
  top: 0%;
  width: 100%;
}

.logo img{
   width: 2.2em;
   height: auto;
   position: absolute;
   top: -4.3%;
   left: 2%;
   transition: all 0.5s;
   cursor: pointer;
    image-rendering: smooth;

}

/* Esti css (Logo Css) */
.logo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logo span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.logo:hover span {
  padding-right: 25px;
}

.logo:hover span:after {
  opacity: 1;
  right: 0;
}

/*end*/


/* Error Placement */
.errors{
  position: fixed;
  top: 10%
}