/* general text formatting */
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

h1{
    color: white;
    position: fixed;
    top: 25%;
    left: 17%;
}



.vid-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.grayfilter{
  background: rgba(0,0,0,0.4);
  position: fixed;
  top:  -1%;
}

.logo{
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;

}


.paragraph {
   color: white;
    font-size: 14px;
   font-style: oblique;
   width: 80%;
   display: inline-block;
    position: fixed;
    top: 32%;
    left: 12%;
}

.content-table {
  position: fixed;
  right: 10%;
  bottom: 24%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9 em;
  min-width: 400px;
}

.content-table thead tr {
    text-decoration: underline;
  background-color: #C70039;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th, .content-table td {
  padding: 20px 35px;
}


.content-table tbody tr:nth-of-type(even) {
  text-align: center;
  font-weight: bold;
  background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 21px solid #C70039;

}

/** Nav bar CSS **/
.blackbar{
  background: rgb(20, 20, 24);
  height: 55px;
  position: fixed;
  top: 0%;
  width: 100%;
}

.logo img{
   width: 2.2em;
   height: auto;
   position: fixed;
   top: -4.2%;
   left: 2%;
   transition: all 0.5s;
   cursor: pointer;
   padding-top: 36px;
}

/* Home and About Us Navi Bar */
ul{
  font-family: "Lucida Sans", Verdana, Arial, white;
  font-size: 1.3em;
   font-weight: bold;
   position: fixed;
   top: -1.7%;
   left: 49%;
   margin-top: 30px;

}

ul li{
   display: inline-block;
}

ul li a{
   text-decoration: none;
   color: #fff;
   transition: 0.6s ease;
}

ul li a:hover{
  text-decoration: none;
   color: #808080;
}
